*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    height: 60px;
    font-family: sans-serif;
    .logo{
        color:orange;
        text-transform: uppercase;
        font-size: 20px;
    
    }

}
.burger{
    display: none;
    cursor: pointer;
    div{
        width:30px;
        height: 3px;
        background-color: rgb(255, 86, 8);
        margin: 5px;
        transition:  0.3s ease;
    }
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    li{
        list-style: none;
    }
    a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 15px;
    
    }
    
    .uploadbtn{
        background-color: rgb(255, 131, 74);
        border: none;
        width: 90px;
        height: 40px;
        border-radius: 10px;
        color: white;
        
    }

}

.imgcontainer{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    .dog_image{
        margin-top: 15px;
        margin-left: 15px;
        .delete{
            display: none;
            border: none;
            color: red;
            font-size: 30px;
            float: right;


        }
       
    }
}
.dog_image:hover .delete{
    display: block;



}

.modal{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &--hidden{
        display: none;

    }
   
    
    .modal_contents{
        display: flex;
        flex-direction: column;
        background-color:#fff;
        padding: 20px;
        font-family: sans-serif;
        .inpFile{
            background-color: #ddd;
            color: black;
            padding: 5px 10px;
        
        }
        div{
            margin: 10px 0px;
         
            textarea{
                float: right;
                padding: 5px;
                resize: none;
                
            }
            img{
                float: right;
            }
            
        
           
         
        }

        .modal_close_bar{
            display: flex;
            justify-content: flex-end;
            margin-right: -2rem;
            span{
                cursor: pointer;
                color: red;
                padding: 10px;
                font-size: 30px;
                position: absolute;
                margin-left: 30px;
                margin-top: -50px;
            }
        }
        
    
    }

    button{
        padding: 5px;
    }
  
    
    
}
.dog_detail_modal {
  
    .modal_contents{
        padding: 0px;
        margin: 0px ;
        .modal_close_bar{
            margin-top: -50px;
            span{
                color: white;
                background-color: black;
                padding: 5px;
            }
           
        }

    }
   
}

footer{
    background-color: #eee;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #0009;
    z-index: -5;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height:92vh;
        top:8vh;
        background-color: #eee;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        li{
            margin: 10px;
        }
    }
  
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
